.Community_container {
  margin: 2rem 0 !important;
  position: relative !important;
  // width: 100vw;
  // overflow-x: hidden;
}
.Community {
  background-color: rgb(50, 30, 34);
  padding: 3rem 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  & h4 {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(90.9deg, #f33a56 71.19%, #6e039f 251.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  & h1 {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 600;
    font-size: 43px;
    line-height: 73px;
    text-align: center;
    color: #ffffff;
  }
  & p {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    width: 80%;
    margin: auto;
    color: #ffffff;
    margin-bottom: 2rem !important;
  }

  .Community_socialmedia {
    margin-top: 2rem !important;

    & img {
      margin: 0 10px !important;
    }
  }
}
.profile_1 {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
  height: 200px;
  width: 200px;

  border-radius: 50%;
}
.profile_2 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.profile_3 {
  position: absolute;
  bottom: 0;
  right: 100px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transform: translateY(50%);
}
