.About {
  margin: 2rem 5rem;
  position: relative;
}
.Smiely {
  position: absolute;
  left: 0;
  top: 0;
}
.heart {
  position: absolute;
  right: 0;

  top: 0;
}
.About_head {
  & h1 {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 52px;
    text-align: center;
    text-transform: capitalize;

    color: #232323;
  }
  & p {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    /* or 162% */

    text-align: center;

    color: rgba(35, 35, 35, 0.75);
  }
}
.About_body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
  margin-top: 1rem;
}
.About_person_active {
  transform: scale(1.07);
  margin: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white !important;
  display: flex;
  align-items: center;
  width: 300px;
  height: 100px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 0px 41px 110px rgba(28, 56, 146, 0.16);
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }

  & img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}
.About_person {
  margin: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white !important;
  display: flex;
  align-items: center;
  width: 280px;
  height: 100px;
  background: transparent !important;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);

  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }

  & img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}
.person_name {
  margin-left: 2rem;

  & h6 {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }
}
.person_name_active {
  margin-left: 2rem;

  & h6 {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 139% */
    background: linear-gradient(91.27deg, #f33a56 2.31%, #6e039f 63.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
.About_body_content {
  height: 86%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  & p {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    /* or 219% */

    color: #333333;
  }

  & h5 {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    /* identical to box height */

    background: linear-gradient(90.95deg, #f33a56 5.93%, #6e039f 131.13%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
.About_highlight {
  margin-left: -100px;
  & img {
    height: 300px;
    width: 300px;
    object-fit: contain;
  }
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.About_highlightBox {
  background: #ffffff;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 43px 129px rgba(28, 56, 146, 0.09);
  border-radius: 15px;
  padding: 1rem;
  margin-left: -110px;
  z-index: -10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 800px !important;
  position: relative;

  & h3 {
    font-family: "Axiforma";
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    /* or 142% */

    text-align: center;

    color: rgba(35, 35, 35, 0.75);
  }
  & p {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    /* or 155% */

    text-align: center;
    text-transform: capitalize;

    color: rgba(35, 35, 35, 0.5);
    margin: 1rem 0 !important;
  }
}
.About_arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 200px !important;
  width: 300px !important;
}
