.OurSolutions {
  margin: 2rem 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  & input {
    width: 800px !important;
  }
  & h1 {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    color: #1c3892;
  }
}
.OurSolutions_para {
  margin: 1rem 0 !important;
  font-family: "Axiforma";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  /* or 165% */
  text-align: center;
  color: rgba(35, 35, 35, 0.75);
}
.OurSolutionsInputContainer {
  & span {
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 7.5px;
  }
  & input {
    border: 1px solid lightgray;
    padding: 5px;
  }
}
.OurSolutions_rations {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 2rem 0;
  align-items: center;
  grid-gap: 20px;
}
.OurSolutions_totalRating {
  padding: 1rem;
  background-color: #ebeffb;
  color: #1c3892;
  width: 80px;
  margin: 0 auto;
}
.solutionImg {
  position: absolute;
  top: 140px;
  right: 30px;
}
