.Btn_secondary {
  border: 1px solid #f33a56;
  color: white;
  background-color: transparent !important;
  border-radius: 5px;
  width: 200px;
  padding: 15px;
  font-weight: bold;
  background: linear-gradient(110.49deg, #7d92d5 7.02%, #6e039f 115.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
