@use "../../styles//mainsource";

footer {
  background: #f6fafe;
}
.footerLogo {
  height: 1.7rem;
}
p.copyrights-text {
  font-size: 0.875rem;
  line-height: 1.5rem;
  opacity: 80%;
}

.rounded-circle {
  border: 1px solid white;
  color: mainsource.$color-blue;
  padding: 2px 6px;
  background: #e1e7f4;
}

.icon-size {
  font-size: 1.5rem;
}
h5.ul-heading {
  color: mainsource.$font-color-black;
  font-size: 1.25rem;
}
ul li {
  color: mainsource.$font-color-black;
  opacity: 70%;
  line-height: 2rem;
  font-size: 0.8rem;
}
